<div class="container w-50 pt-4">
  <div class="col pb-3 mg-1">
    <button routerLink="/add" class="btn btn-warning">
      ახალი ნივთის დამატება
    </button>
  </div>

  <div name="table">
    <table
      class="table table-light  table-striped table-hover"
    >
      <thead class="table-dark">
        <tr>
          <th><div class="p-3">#</div></th>

          <th>
            <div class = "d-flex flex-row justify-content-center">
             
              <div class="p-2">
                <span>სახელი</span>
              </div>
              
              <div class="p-2">
              <button
                (click)="sort('title', sortOrder === 'asc' ? 'desc' : 'asc')"
              >
                <img src = "../../../assets//sort_FILL0_wght700_GRAD0_opsz24.svg">
              </button>
            </div>
            
            </div>
          </th>

          <th>
            <div class = "d-flex flex-row justify-content-center">
             
              <label for="location-select" class = "p-1"
                >ლოკაცია:</label
              >
              <div class="select">
              <select  class = "p-2"
                id="location-select"
                [(ngModel)]="place"
                (ngModelChange)="retrieveInventories()"
              >
                <option value="">ყველა</option>
                <option *ngFor="let p of places" [value]="p">{{ p }}</option>
              </select>
              </div>
              

            </div>

          </th>

          <th>
            <div class = "d-flex flex-row justify-content-center">
            
              <div class="p-2" style="width: 80px;">
                <span>ფასი ₾</span>
              </div> 

              <div class="p-2">
              <button
                (click)="sort('price', sortOrder === 'asc' ? 'desc' : 'asc')"
              >
              <img src = "../../../assets//sort_FILL0_wght700_GRAD0_opsz24.svg">
              </button>
            </div>
            
            </div>
          </th>

          <th> <div class="p-3">ოპერაცია</div></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let inventory of inventories
              | paginate
                : {
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
          [class.active]="i == currentIndex"
        >
        <td>{{ i+1 }}</td>
          <td>{{ inventory.title }}</td>
          <td>{{ inventory.place }}</td>
          <td>{{ inventory.price + "₾" }}</td>
          <td>
            <button class = "btn btn-danger" (click)="deleteInventory(inventory)">წაშლა</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


    <div class="row d-flex justify-content-center">
      
      <div class="col-md-auto clearfix">
        <pagination-controls
          previousLabel="წინა "
          nextLabel="შემდეგი"
          [responsive]="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>

      <div class="col-md-auto">
        <span>სულ ნივთები: {{ ItemAmount }}</span>
      </div>

    </div>

  
</div>
