
table {
  border-collapse: collapse;
  width: 40%;
}

th, td {
  border: 2px solid black;
  padding: 8px;
  text-align: left;
}
.page-numbers {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

.page-numbers button {
  border: none;
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.page-numbers button.active {
  background-color: #333;
  color: #fff;
}

.pagination-container {
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
}

.previous-btn, .next-btn, .page {
display: inline-block;
padding: 10px;
margin: 0 5px;
border-radius: 5px;
background-color: #eee;
color: #333;
cursor: pointer;
border: none;
outline: none;
}
button.previous-btn:hover,
button.next-btn:hover {
background-color: #333;
color: white;
}

.previous-btn:hover, .next-btn:hover, .page:hover {
background-color: #dddddd;
}

.active {
background-color: #007bff;
color: #fff;
}
.sorting-button:hover {
  background-color: lightgray;
}

select {
  width: 150px;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

/* Style the options */
select option {
  font-size: 16px;
  background-color: #fff;
  color: #333;
}