<p>it is HOME</p>
<div style="text-align: center">
    <button class="previous-btn" routerLink="/add">Add New Item</button>
    <br>
  <label for="sort-select" style="font-size: 28px">Sort by: </label>
  <select
    id="sort-select"
    [(ngModel)]="sortOption"
    (ngModelChange)="sortItems()"
  >
    <option value="none" selected>Sort options</option>
    <option value="name-asc">Name A-Z</option>
    <option value="name-desc">Name Z-A</option>
    <option value="price-asc">Price low to high</option>
    <option value="price-desc">Price high to low</option>
  </select>
  <table style="margin: 0 auto">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let item of items.slice(
            (currentPage - 1) * pageSize,
            currentPage * pageSize
          )
        "
      >
        <td>{{ item.name }}</td>
        <td>{{ item.location }}</td>
        <td>{{ item.price }}</td>
        <td><button (click)="deleteItem(item)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagination-container">
  <button
    class="previous-btn"
    [disabled]="currentPage == 1"
    (click)="currentPage = currentPage - 1"
  >
    Previous
  </button>
  <div class="page-numbers">
    <button
      *ngFor="let page of pages"
      class="page"
      [ngClass]="{ active: page == currentPage }"
      (click)="currentPage = page"
    >
      {{ page }}
    </button>
  </div>
  <button
    class="next-btn"
    [disabled]="currentPage * pageSize >= items.length"
    (click)="currentPage = currentPage + 1"
  >
    Next
  </button>
  <span>Total # of items: {{ items.length }}</span>
</div>
